<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dynamically Load Local Module Example!
  </h1>
  <button (click)="loadFeature()">Load</button>
  <my-container></my-container>
</div>
<br>
<br>
<br>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dynamically Compile New Module And Component Example
  </h1>
  <app-manual-compile></app-manual-compile>
  <app-garbage></app-garbage>
</div>